body {
	margin: 0;
	padding: 20px;
}

.result {
  overflow: hidden;
	margin: 3em 0;
	color: #fff;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 30px;
}

.result-csv {
	font-size: 10px;
}

.resultN, .resultP {
	background: #4281a4;
}

.resultA {
	background: #ead2ac;
}

.resultV {
	background: #fe938c;
}

.resultR {
	background: #1d3b4c;
}

.item {
  padding: 10px 20px 0;
  margin: 1.5em 0;
}

.item:nth-child(odd) {
  background: rgba(200, 200, 200, .5);
}

p {
	margin: 0;
  padding: 5px 0;
}

img {
  margin: 0 0 .5em;
}
