body {
	margin: 0;
	padding: 20px;
}

.results {
  overflow: hidden;
	color: #fff;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 30px;
}

.results-csv {
	font-size: 10px;
}

.results-nouns,
.results-phrases {
	background: #4281a4;
}

.results-adjectives {
	background: #ead2ac;
}

.results-verbs {
	background: #fe938c;
}

.results-rest {
	background: #1d3b4c;
}

.item {
  padding: 25px 20px 15px;
}

.item:nth-child(odd) {
  background: rgba(0, 0, 0, .25);
}

p {
	margin: 0;
  padding: 5px 0;
}

img {
  margin: 0 0 .5em;
}
